body {
    background-image: url(/img/background2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

header {
    margin: 2em auto;
    text-align: center;
    font-family: 'Lobster';
}

h1 {
    font-size: 5em;
    letter-spacing: 5px;
    margin: 20px auto;
}

main {
    max-width: 750px;
    margin: 2em auto;
    background-color: rgba(237, 110, 133, .65);
    padding: 2.5em;
    text-align: center;
    border-radius: 25px;
    font-family: 'Cantarell';
}