
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Candy</h1>
    <p>Reviews that make you salivate on your keyboard!</p>

    <a href="/Product/Index">View our candy, NOW!</a>
</body>
</html>
