
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link href="https://fonts.googleapis.com/css?family=Cantarell|Lobster&display=swap" rel="stylesheet">
    <link href="~/style/HomeStyle.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>CandyRUs</h1>
        <span>Reviews for today's popular candies!</span>
    </header>

    <main class="container">
        <section id="about">
            <p>Greetings, fellow candy lovers! We come to you from Acquisitions, Inc. with a whole new review site for... you guessed it, CANDY!</p>
            <p>
                We know everyone loves candy; Our job is to help others decide which candy is the BEST. On our site you will find an expansive collection of many different candies of varying categories. You will be able to browse all of the products available, view REAL customer reviews, and even add your own! If you've found you made a mistake, fret not! You are able to delete a review and start over!
            </p>
            <p>Acquisitions, Inc. has collected and sold many, many products over the years.. (But if you want our opinion, Candy is the best one, hands down!)</p>
            <a href="/Product/Index">Come on in!</a>
        </section>

        <section id="contact">
            <h3>Contact Us:</h3>
            <ul>
                <li>247 Sweet Street, Sugartown OR 12345</li>
                <li>555-123-4567</li>
                <li>CandyReviews@@AOL.com</li>

            </ul>
        </section>
    </main>

        
    



<footer>
    <p>&copy;Acquisitions Inc. 2020</p>
</footer>
</body>
</html>
