@model IEnumerable<CandyReview.Models.ProductModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/style/ProductStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="header-image"><h1>Our Selection of Candies</h1></div>
    <div id="products">
        @foreach (var product in Model)
        {
            <article>
                <h3>Name: @product.Name</h3>
                <p>Category: @product.Category</p>
                <a href="/Product/Details/@product.Id">Details</a>
            </article>
        }
    </div>

      <a href="/Home/Index">Return Home</a>
</body>
</html>
