@model CandyReview.Models.ReviewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <link href="~/style/FormStyle.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Cantarell|Lobster&display=swap" rel="stylesheet">


</head>
<body>
    <div class="header-image"><h1>Edit Review</h1></div>
    <div class="row">
        <div class="col-md-4">
            <form class="formContainer" asp-action="Update">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Reviewer" class="control-label">Name:</label>
                    <input asp-for="Reviewer" class="form-control" />
                    <span asp-validation-for="Reviewer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label">Review:</label>
                    <textarea asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rating" class="control-label">Rating:</label>
                    <input asp-for="Rating" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label">Date:</label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="ProductId" type="hidden" class="form-control" />
                </div>
                <div class="form-group">
                    <input id="submitButton" type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="/Product/Details/@Model.ProductId">Back to Candy Details</a>
    </div>

</body>
</html>
